@import url('reset');
@import url('variables/global');
@import url('themes/light');
@import url('themes/dark');

html {
  scrollbar-width: thin;
  font-size: 62.5%;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    /* Track */
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(110 110 110);

    /* Handle */
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: rgb(110 110 110);
  }
}


body {
  min-height: 100vh;
  font: var(--font-md);
  color: var(--text-color);
  background: var(--bg-color);
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
  border: 0;
}
