@import url('reset');
@import url('variables/global');
@import url('themes/light');
@import url('themes/dark');

body {
  min-height: 100vh;
  font: var(--font-md);
  color: var(--text-color);
  background: var(--bg-color);
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
  border: 0;
}
