@import url('reset');
@import url('variables/global');
@import url('themes/light');
@import url('themes/dark');

body {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--text-color);
  background: var(--bg-color);
}
