:root {
  --font-family-main: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-line: 1.2;
  --font-sm: var(--font-size-sm) / var(--font-line) var(--font-family-main);
  --font-md: var(--font-size-md) / var(--font-line) var(--font-family-main);
  --font-lg: var(--font-size-lg) / var(--font-line) var(--font-family-main);
  --font-xl: var(--font-size-xl) / var(--font-line) var(--font-family-main);
  --font-size-3xs: 0.8rem;
  --font-size-2xs: 1rem;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.4rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 3.6rem;
  --font-size-5xl: 4.8rem;
  --font-size-6xl: 6rem;
  --font-size-7xl: 7.2rem;
  --font-size-8xl: 9.6rem;
  --font-size-9xl: 12.8rem;

  /* Size */

  --header-height: 50px;
  --footer-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 56px;
  --btn-padding-s: 3px var(--space);
  --btn-padding-m: 5px calc(var(--space) * 2);
  --btn-padding-l: 7px calc(var(--space) * 3);
  --icon-btn-padding-s: 5px;
  --icon-btn-padding-m: 12px;
  --border-radius: 8px;

  /* Spacing */

  --space: 8px;

  /* Color */

  --disabled-text-color: rgb(0 0 0 / 26%);
  --disabled-bg-color: rgb(0 0 0 / 12%);
  --overlay-color: rgb(0 0 0 / 60%);

  /* Shadow */

  --shadow-btn-color: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
  --shadow-btn-hover-color: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);

  /* z-index */

  --modal-z-index: 1;

  /* transition time */

  --default-transition-time: 0.2s;
}
