:root {
  --font-family-main: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-size-s: 8px;
  --font-line-s: 16px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  /* Size */

  --header-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 56px;
  --btn-padding-s: 3px 9px;
  --btn-padding-m: 5px 15px;
  --btn-padding-l: 7px 21px;
  --icon-btn-padding-s: 5px;
  --icon-btn-padding-m: 12px;
  --border-radius: 4px;

  /* Color */

  --disabled-text-color: rgb(0 0 0 / 26%);
  --disabled-bg-color: rgb(0 0 0 / 12%);
  --overlay-color: rgb(0 0 0 / 60%);

  /* Shadow */

  --shadow-btn-color: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  --shadow-btn-hover-color: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

  /* z-index */

  --modal-z-index: 100;

  /* transition time */

  --default-transition-time: 0.2s;
}
