:root {
  --font-family-main: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-line: 1.2;
  --font-sm: var(--font-size-sm) / var(--font-line) var(--font-family-main);
  --font-md: var(--font-size-md) / var(--font-line) var(--font-family-main);
  --font-lg: var(--font-size-lg) / var(--font-line) var(--font-family-main);
  --font-xl: var(--font-size-xl) / var(--font-line) var(--font-family-main);
  --font-size-3xs: 0.45rem;
  --font-size-2xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  /* Size */

  --header-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 56px;
  --padding-s: 9px;
  --padding-m: 15px;
  --padding-l: 21px;
  --btn-padding-s: 3px var(--padding-s);
  --btn-padding-m: 5px var(--padding-m);
  --btn-padding-l: 7px var(--padding-l);
  --icon-btn-padding-s: 5px;
  --icon-btn-padding-m: 12px;
  --border-radius: 4px;

  /* Color */

  --disabled-text-color: rgb(0 0 0 / 26%);
  --disabled-bg-color: rgb(0 0 0 / 12%);
  --overlay-color: rgb(0 0 0 / 60%);

  /* Shadow */

  --shadow-btn-color: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  --shadow-btn-hover-color: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

  /* z-index */

  --modal-z-index: 1;

  /* transition time */

  --default-transition-time: 0.2s;
}
