.root {
  width: 58px;
  margin-bottom: var(--space);
  border: 1px solid var(--inverted-bg-color);
  border-radius: var(--border-radius);
}

.button.not-selected {
  color: var(--inverted-bg-color);
}
