.root {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  min-width: 64px;
  padding: var(--button-padding);

  font-size: var(--font-size-md);
  line-height: 120%;
  color: var(--button-color);
  text-decoration: none;
  text-transform: uppercase;

  appearance: none;
  background: var(--button-background-color);
  border-color: var(--button-border-color);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
}

.root:hover {
  box-shadow: var(--shadow-btn-hover-color);
}

.root:focus-visible {
  outline: transparent;
  box-shadow: var(--shadow-btn-focus-color);
}

.root:active {
  box-shadow: var(--shadow-btn-active-color);
}

.icon {
  cursor: pointer;
  user-select: none;

  width: 1em;
  height: 1em;

  color: inherit;
}

.icon svg {
  width: 1em;
  height: 1em;
  color: inherit;
}

/* Size */

.small {
  --button-padding: var(--btn-padding-s);
}

.medium {
  --button-padding: var(--btn-padding-m);
}

.large {
  --button-padding: var(--btn-padding-l);
}

/* Variant & Color */

.contained {
  --button-color: var(--inverted-text-color);

  box-shadow: var(--shadow-btn-color);
}

.contained.primary {
  --button-border-color: var(--primary-color);
  --button-background-color: var(--primary-color);
}

.contained.secondary {
  --button-border-color: var(--secondary-color);
  --button-background-color: var(--secondary-color);
}

.contained.error {
  --button-border-color: var(--error-color);
  --button-background-color: var(--error-color);
}

.contained.warning {
  --button-border-color: var(--warning-color);
  --button-background-color: var(--warning-color);
}

.contained.info {
  --button-border-color: var(--info-color);
  --button-background-color: var(--info-color);
}

.contained.success {
  --button-border-color: var(--success-color);
  --button-background-color: var(--success-color);
}

.text {
  --button-background-color: none;
  --button-border-color: transparent;
}

.text.primary {
  --button-color: var(--primary-color);
}

.text.secondary {
  --button-color: var(--secondary-color);
}

.text.error {
  --button-color: var(--error-color);
}

.text.warning {
  --button-color: var(--warning-color);
}

.text.info {
  --button-color: var(--info-color);
}

.text.success {
  --button-color: var(--success-color);
}

.outlined {
  --button-background-color: none;
}

.outlined.primary {
  --button-border-color: var(--primary-color);
  --button-color: var(--primary-color);
}

.outlined.secondary {
  --button-border-color: var(--secondary-color);
  --button-color: var(--secondary-color);
}

.outlined.error {
  --button-border-color: var(--error-color);
  --button-color: var(--error-color);
}

.outlined.warning {
  --button-border-color: var(--warning-color);
  --button-color: var(--warning-color);
}

.outlined.info {
  --button-border-color: var(--info-color);
  --button-color: var(--info-color);
}

.outlined.success {
  --button-border-color: var(--success-color);
  --button-color: var(--success-color);
}

/* disabled */

.root[disabled] {
  --button-color: var(--disabled-text-color);

  pointer-events: none;
  cursor: not-allowed;
}

.root[disabled].text {
  --button-background-color: none;
  --button-border-color: transparent;
}

.root[disabled].contained {
  --button-background-color: var(--disabled-bg-color);
  --button-border-color: var(--disabled-bg-color);

  box-shadow: none;
}

.root[disabled].outlined {
  --button-background-color: none;
  --button-border-color: var(--disabled-bg-color);
}

/* Full width */

.full-width {
  flex: 2 1 auto;
  width: 100%;
}
