.eslintrc.js
.stylelint.js
babel.config.js
lint-staged.config.js
/node_modules
/build
/config/storybook/main.js
/config/storybook/preview.js
/scripts/generate-visual-json-report.js
.vs
.vscode
.idea
.git
