.root {
  position: fixed;
  z-index: var(--modal-z-index);
  inset: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 60%;
  padding: 20px;

  background: var(--bg-color);
  border-radius: var(--border-radius);
}

/*
.opened .content {
  animation: forwards content-opened var(--default-transition-time);
}

.closed .content {
  animation: forwards content-closed var(--default-transition-time);
}

@keyframes content-opened {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes content-closed {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
} */
