.root {
  cursor: pointer;

  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  min-width: 64px;

  font-size: var(--font-size-md);
  line-height: 100%;
  text-decoration: none;
  text-transform: uppercase;

  appearance: none;
  border-radius: var(--border-radius);
}

.root:hover {
  box-shadow: var(--shadow-btn-hover-color);
}

.root:focus {
  outline: none;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%),0 6px 10px 0 rgb(0 0 0 / 14%),0 1px 18px 0 rgb(0 0 0 / 12%);
}

.root:active {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%),0 8px 10px 1px rgb(0 0 0 / 14%),0 3px 14px 2px rgb(0 0 0 / 12%);
}

.icon {
  cursor: pointer;
  user-select: none;

  width: 1em;
  height: 1em;

  color: inherit;
}

.icon svg {
  width: 1em;
  height: 1em;
  color: inherit;
}

/* Size */

.small {
  padding: var(--btn-padding-s);
}

.medium {
  padding: var(--btn-padding-m);
}

.large {
  padding: var(--btn-padding-l);
}

/* Variant & Color */

.contained-primary {
  color: var(--inverted-text-color);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--shadow-btn-color);
}

.contained-secondary {
  color: var(--inverted-text-color);
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: var(--shadow-btn-color);
}

.contained-error {
  color: var(--inverted-text-color);
  background: var(--error-color);
  border: 1px solid var(--error-color);
  box-shadow: var(--shadow-btn-color);
}

.contained-warning {
  color: var(--inverted-text-color);
  background: var(--warning-color);
  border: 1px solid var(--warning-color);
  box-shadow: var(--shadow-btn-color);
}

.contained-info {
  color: var(--inverted-text-color);
  background: var(--info-color);
  border: 1px solid var(--info-color);
  box-shadow: var(--shadow-btn-color);
}

.contained-success {
  color: var(--inverted-text-color);
  background: var(--success-color);
  border: 1px solid var(--success-color);
  box-shadow: var(--shadow-btn-color);
}

.text-primary {
  color: var(--primary-color);
  background: none;
  border: 1px solid transparent;
}

.text-secondary {
  color: var(--secondary-color);
  background: none;
  border: 1px solid transparent;
}

.text-error {
  color: var(--error-color);
  background: none;
  border: 1px solid transparent;
}

.text-warning {
  color: var(--warning-color);
  background: none;
  border: 1px solid transparent;
}

.text-info {
  color: var(--info-color);
  background: none;
  border: 1px solid transparent;
}

.text-success {
  color: var(--success-color);
  background: none;
  border: 1px solid transparent;
}

.outlined-primary {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
}

.outlined-secondary {
  color: var(--secondary-color);
  background: none;
  border: 1px solid var(--secondary-color);
}

.outlined-error {
  color: var(--error-color);
  background: none;
  border: 1px solid var(--error-color);
}

.outlined-warning {
  color: var(--warning-color);
  background: none;
  border: 1px solid var(--warning-color);
}

.outlined-info {
  color: var(--info-color);
  background: none;
  border: 1px solid var(--info-color);
}

.outlined-success {
  color: var(--success-color);
  background: none;
  border: 1px solid var(--success-color);
}

/* .contained-primary:hover ,
.contained-secondary:hover {
  box-shadow: var(--shadow-btn-hover-color);
} */

/* disabled */

.root[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  color: var(--disabled-text-color);
}

.text-disabled {
  background: none;
  border: 1px solid transparent;
}

.contained-disabled {
  background: var(--disabled-bg-color);
  border: 1px solid var(--disabled-bg-color);
  box-shadow: none;
}

.outlined-disabled {
  background: none;
  border: 1px solid var(--disabled-bg-color);
}

/* Full width */

.full-width {
  flex: 2 1 auto;
  width: 100%;
}
