.root {
  display: flex;
}

/* Justify-content */

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

/* Align-items */

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

/* Flex-direction */

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

/* Shrink */

.shrink-0 {
  flex-shrink: 0;
}

.shrink-1 {
  flex-shrink: 1;
}

.shrink-2 {
  flex-shrink: 2;
}

/* Grow */

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

/* Wrap */

.wrap-nowrap {
  flex-wrap: nowrap;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Gap */

.gap-1 {
  gap: var(--space);
}

.gap-2 {
  gap: calc(var(--space) * 2);
}

.gap-3 {
  gap: calc(var(--space) * 3);
}

.gap-4 {
  gap: calc(var(--space) * 4);
}

.gap-5 {
  gap: calc(var(--space) * 5);
}

.gap-6 {
  gap: calc(var(--space) * 6);
}
