.root {
  position: relative;
  display: inline-block;
}

.root[disabled] {
  color: var(--disabled-text-color);
  border-color: var(--disabled-text-color);
}

.btn {
  cursor: pointer;

  min-width: 60px;
  padding: var(--btn-padding-m);

  font: var(--font-md);
  text-align: left;

  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  outline: transparent;

  &.disabled {
    border: 1px solid var(--disabled-text-color);
  }
}

.options {
  position: absolute;
  z-index: 10000;

  overflow: hidden;

  list-style: none;

  background: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 4px var(--text-color);
}

.item {
  cursor: pointer;

  position: relative;

  min-width: 60px;
  padding: var(--btn-padding-m);

  color: inherit;
}

.active {
  background-color: blueviolet;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  color: var(--disabled-text-color);
}

.top-right {
  bottom: 100%;
  left: 0;
}

.top-left {
  right: 0;
  bottom: 100%;
}

.bottom-right {
  top: 100%;
  left: 0;
}

.bottom-left {
  top: 100%;
  right: 0;
}

.ok {
  position: absolute;
  margin-left: -11px;
}

.label {
  color: inherit;
}
