.root {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.label {
  color: inherit;
}

.select {
  padding: 5px;

  color: inherit;

  background: none;
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  outline: none;
}

.select[disabled] {
  color: var(--disabled-text-color);
  border-color: var(--disabled-text-color);
}

.option {
  color: inherit;
  background: var(--bg-color);
}
