.root {
  min-height: 100vh;
}

.body {
  display: grid;
  grid-template: 1fr auto / auto 1fr;
  grid-template-areas: 'sidebar main';
}

.sidebar {
  grid-area: sidebar;
}

.main {
  overflow: hidden;
  grid-area: main;
  height: calc(100vh - var(--header-height));
}
