.root {
  display: block;
  padding: calc(var(--space) * 2);
  border: 2px solid var(--inverted-bg-color);
  border-radius: var(--border-radius);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.error {
  height: 300px;
}

.avatar-wrapper {
  width: 100%;
}
