.btn {
  cursor: pointer;

  min-width: 60px;
  padding: var(--btn-padding-m);

  font: var(--font-md);
  text-align: left;

  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  outline: transparent;

  &.disabled {
    border: 1px solid var(--disabled-text-color);
  }
}

.options {
  position: absolute;
  z-index: 10000;

  overflow: hidden;

  list-style: none;

  background: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 4px var(--text-color);
}

.item {
  cursor: pointer;

  position: relative;

  min-width: 60px;
  padding: var(--btn-padding-m);

  color: inherit;
}

.ok {
  position: absolute;
  margin-left: -11px;
}

.label {
  color: inherit;
}
