/* Color */

.dark {
  color: var(--text-color);
}

.light {
  color: var(--inverted-text-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.error {
  color: var(--error-color);
}

.warning {
  color: var(--warning-color);
}

.info {
  color: var(--info-color);
}

.success {
  color: var(--success-color);
}

/* Align */

.start {
  text-align: start;
}

.end {
  text-align: end;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

/* Disabled */

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  color: var(--disabled-text-color);
}

/* Ellipsis */

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
