.root {
  padding: calc(var(--space) * 2);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.header {
  display: flex;
  gap: calc(var(--space) * 2);
  align-items: center;
  margin-bottom: calc(var(--space) * 2);
}
