.root {
  color: var(--primary-color);
}

.root:hover {
  text-decoration: none;
}

.base {
  color: var(--text-color);
}

.inverted {
  color: var(--inverted-text-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}
