.root {
  margin: 0;
  font-weight: 700;
}

/* Variant */

.h1 {
  font-size: var(--font-size-4xl);
}

.h2 {
  font-size: var(--font-size-2xl);
}

.h3 {
  font-size: var(--font-size-lg);
}

.h4 {
  font-size: var(--font-size-md);
}

.h5 {
  font-size: var(--font-size-sm);
}

.h6 {
  font-size: var(--font-size-xs);
}

/* Color */

.dark {
  color: var(--text-color);
}

.light {
  color: var(--inverted-text-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.error {
  color: var(--error-color);
}

.warning {
  color: var(--warning-color);
}

.info {
  color: var(--info-color);
}

.success {
  color: var(--success-color);
}

/* Align */

.start {
  text-align: start;
}

.end {
  text-align: end;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

/* Disabled */

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  color: var(--disabled-text-color);
}
